/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 
	/*  # Start Prayerbox
	=========================================*/
	.pbx-modal .wn-prayer-request { display: none; }
	.pbx-req .wm-prayer-container {border: 1px solid #E4E4E4; padding: 37px 30px 42px; margin-bottom: 64px; }
	.pbx-req .wm-prayer-inner h3 {font-size: 29px; font-weight: 700; color: #1c1d21; }
	.pbx-req .wm-prayer-inner .wm-prayer-info {background-color: #f9f9f9; text-align: center; padding: 7px 0; } .pbx-req .wm-prayer-inner .num-prayers {border-left: 1px solid #d4d4d4; padding-left: 22px; font-size: 15px; font-weight: 300; color: #707070; }
	.pbx-req .wm-prayer-inner .num-submitted {padding-right: 20px; font-size: 15px; font-weight: 300; color: #707070; padding-right: 22px; }
	.pbx-req .wm-prayer-inner i {padding-right: 4px; }
	.pbx-req .wm-prayer-inner .wm-prayer-request {margin: 30px 0 15px;display: block;font-weight: 300;font-size:16px;color: #444444;}
	.pbx-req .wm-prayer-inner .wm-prayer-request-name {display:block; margin-bottom:20px; color:#437df9; }
	.pbx-req .wm-prayer-inner .wm-prayer-request-name:before {content: ""; background-color: #E4E4E4; display: inline-block; width: 15px; height: 1px; margin-bottom: 5px; margin-right: 5px;} .pbx-req .wm-prayer-inner .wm-pray-request-button {background-color: #fafafa;display: inline-block;padding: 6px 17px;color: #707070;font-size: 12px;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;border:1px solid #e4e4e4;text-transform: uppercase;letter-spacing: 1px;}
	.pbx-req .wm-prayer-inner .wm-pray-request-button:hover {background-color:#437df9; color:#fff; border:1px solid #fff;}
	#praybox_wrapper .wn-prayer-request {width: auto; font-weight: bold; background-color: #437df9; border: none; border-radius: 0; padding: 23px 42px 22px; letter-spacing: 2px; transition: all 0.24s ease; -webkit-transition: all 0.24s ease; display: inline-block; color: #fff; } 
	#praybox_wrapper .wn-prayer-request:hover{background-color: #292929; color: #fff; } 
	#praybox_wrapper .pbx-formfield label{transition:all .24s ease; -webkit-transition:all .24s ease;  position:absolute; visibility: visible; font-family: 'Source Sans Pro','Open Sans', Helvetica, Arial, sans-serif; color: #8c8c8c; font-size: 19px; font-weight: 100; } 
	#praybox_wrapper .pbx-formfield textarea::-webkit-input-placeholder {font-family: 'Source Sans Pro','Open Sans', Helvetica, Arial, sans-serif; color: #8c8c8c; font-size: 16px; font-weight: 300; } 
	#praybox_wrapper input[name^="pbx"] {transition:all .24s ease; -webkit-transition:all .24s ease; border: none; border-bottom: 1px solid #e3e3e3; margin-bottom: 50px; padding-left: 20px; } 
	#praybox_wrapper input[name^="pbx"]:focus {transition:all .24s ease; -webkit-transition:all .24s ease; border:none; box-shadow: none; border-bottom: 1px solid #e3e3e3; } 
	#praybox_wrapper textarea[name^="pbx"] {border:none; box-shadow: none; border-bottom: 1px solid #e3e3e3; background-color:#fff; padding-left: 20px; } 
	#praybox_wrapper input[type="checkbox"]:nth-child(1) {display: none; }
	#praybox_wrapper .pbx-formfield:nth-child(7) {margin-top: 25px; }
	#praybox_wrapper .pbx-formfield:nth-child(7):after {margin-top:-1px; }
	#praybox_wrapper .pbx-formfield:nth-child(8) {display: none; }
	#praybox_wrapper .pbx-formfield:after {content: ""; height: 1px; width: 0; position: absolute; transition: all .3s ease; background-color:black; z-index:10000; margin-top:-51px; } 
	#praybox_wrapper .pbx-formfield.pbx-active:after {width:96%; } .pbx-formfield input[type="submit"] {background-color:#437df9;}
	#praybox_wrapper input[type="text"]:hover{box-shadow: none;}
	#praybox_wrapper .pbx-title {visibility:hidden; } 
	#praybox_wrapper .pbx-form {border: 1px solid #e3e3e3; padding: 70px 30px 50px; margin-bottom: 60px; }
	#praybox_wrapper .pbx-formfield:last-child {margin-left:18px}
	#praybox_wrapper .pbx-formfield input[type="submit"]:last-child{margin-top: 53px; } 
	.wnpw-succ{background: green; padding: 7px;}